### JetBrains template 
# Covers IntelliJ 
 
*.iml 
.idea/ 
*.ipr 
*.iws 
out/ 
 
### Java template 
*.class 
 
# Package Files # 
#*.jar
*.war 
*.ear 
 
### Templates
target/ 
pom.xml
.gradle
build/
 
.tmp 
